@import "helpers/reset"
@import "helpers/mixins"
@import "res/about"
@import "res/blog-box"
@import "res/btn"
@import "res/footer"
@import "res/header"
@import "res/link"
@import "res/modal"
@import "res/nav"
@import "res/our-projects"
@import "res/pages"
@import "res/project"
@import "res/services"
@import "res/services-box"
@import "res/social-menu"
@import "res/spinner"
@import "res/tabs"
@import "res/page"
@import "res/section"

@import 'res/services-content'
@import 'res/hero'

*, *:before, *:after
  box-sizing: border-box
  margin: 0
  padding: 0

body
  font-family: Raleway
  font-weight: 500
  color: $black
  height: 100vh
  display: flex
  background-color: $gray
  flex-direction: column
  justify-content: space-between
  overflow-x: hidden
  scroll-behavior: smooth

.wrapper
  min-height: auto
  position: relative

.main
  &-content
    position: relative
    width: 100%
    min-height: auto

  &--padding
    padding: 0

article
  width: 100%
  position: relative

svg
  width: 100%
  height: 100%

a
  text-decoration: none
  transition: $transition
  width: 100%
  color: $black

picture
  width: 100%
  height: 100%
  display: flex
  justify-content: center
  align-items: center

p
  line-height: 1.5rem
  color: $darkgray

.container
  display: flex
  width: 65%
  margin: 0 auto
  flex-direction: column

  &--direction
    flex-direction: row

.scroll--hidden
  overflow: hidden

.hide
  display: none

.rotate
  transform: translateX(20px)

@keyframes show
  from
    opacity: 0
    transform: translateY(5%)
    visibility: hidden
  to
    opacity: 1
    transform: translateY(0)
    visibility: visible

@keyframes showPage
  10%
    transform: scale(1, 0.002)
  35%
    transform: scale(0.2, 0.002)
    opacity: 1
  50%
    transform: scale(0.2, 0.002)
    opacity: 0
  85%
    transform: scale(1, 0.002)
    opacity: 1
  100%
    transform: scale(1, 1)

.title
  &--wrapper
    display: flex
    width: 100%
    justify-content: flex-start
    align-items: center

.map
  width: 100%
  height: 100%
  display: flex
  justify-content: center
  align-items: center
  position: fixed
  &--wrapper
    width: 100%
    height: 100vh
    display: flex
    justify-content: center
    align-items: center
    position: fixed
    z-index: 1

.contacts
  z-index: 5
  background-color: rgba($white, 0.65)
  a,
  p
    color: $black

.breadcrumbs
  display: flex
  padding: 1rem 0
  justify-content: flex-start
  &__link
    display: flex
    .bold,
    .bold + span
      color: $white
      transition: $transition
      &:hover,
      &:focus
        color: $black
    span
      margin-right: 0.5rem
      font-size: 1vw

.content--height
  min-height: 90vh

.transition
  display: flex
  position: fixed
  z-index: 9999
  height: 100%
  width: 100%
  top: 0
  left: 0
  margin: 0
  pointer-events: none

  li
    transform: scaleY(0)
    background-color: $purple
    transform-origin: bottom left
    height: 100%
    width: 20%

.img--wrapper
  overflow: hidden
  width: 100%
  img
    width: 100%
    object-fit: cover

@media screen and (max-width: 1600px)
  .container
    width: 80%
  .content--height
    min-height: 88vh
  @media screen and (max-width: 1224px)
    .container
      width: 85%
    @media screen and (max-width: 1224px)
      .container
        width: 90%

@import "helpers/fonts"
