@import "./src/sass/helpers/var"

.header
  display: flex
  width: 100%
  min-height: 10vh

  box-shadow: 0 0 5px 0 rgba($purple, 0.5)
  background-color: $white
  z-index: 999
  position: fixed

  // &--fixed
  //   position: fixed
  //   top: 0
  //   left: 0
  //   z-index: 100

  &--background
    background-color: transparent
    box-shadow: none

  &--color
    background-color: $white
    transition: $transition

  &--fixed
    position: fixed
    top: 0
    left: 0
