@import "./src/sass/helpers/var"

.our-projects
  width: 100%
  display: flex
  flex-direction: column
  padding: 2.5% 20%

  &__title
    font-size: 3vw
    width: 100%

  &--wrapper
    display: grid
    width: 100%
    grid-template-columns: repeat(4, 1fr)
    grid-gap: 1.5rem
    padding: 2.5% 0

@media screen and (max-width: 1600px)
  .our-projects
    padding: 2.5% 10%

@media screen and (max-width: 1366px)
  .our-projects
    padding: 2.5% 7.5%

@media screen and (max-width: 1024px)
  .our-projects
    padding: 2.5% 7.5%
    &--wrapper
      grid-template-columns: repeat(2, auto)
    &__title
      font-size: 5vw

@media screen and (max-width: 768px)
  .our-projects
    &--wrapper
      grid-template-columns: repeat(2, auto)
      padding: 10% 0

@media screen and (max-width: 480px)
  .our-projects
    &__title
      font-size: 10vw
    &--wrapper
      grid-template-columns: repeat(1, auto)
