@import "./src/sass/helpers/var"

.page
  width: 100%
  position: relative
  min-height: 100vh

  &--services
  &--projects
  &--about
    display: flex
    justify-content: flex-end
    background:
      image: url("../img/pexels-photo-5474031.jpeg")
      repeat: no-repeat
      size: cover
      position: center
  &--blog
  &--contacts
    display: flex
    justify-content: flex-end
    background-color: $white
