@import "./src/sass/helpers/var"

.section
  display: flex
  align-items: center
  width: 100vw
  min-height: 100vh
  position: absolute
  transform-origin: left center
  transition: all 1.5s ease
  z-index: 3

  &--active
    z-index: 5
    opacity: 1
    .pages
      margin-left: 20%
      opacity: 1
      &__number
        transition: $transition
        color: $black
      &--wrapper
        opacity: 1

  &--wrapper
    width: 100%
    min-height: 100vh
    position: relative
    display: flex

@media screen and (max-width: 768px)
  .section--active
    .pages
      margin-left: 30%

@media screen and (max-width: 480px)
  .section--active
    .pages
      margin-left: 25%
@media screen and (max-device-width: 767px) and (min-device-width: 320px) and (orientation: landscape)
  .section--active
    .pages
      margin-left: 17.5%
