@import "./src/sass/helpers/var"

.section
  display: flex
  align-items: center
  width: 100vw
  min-height: 100vh
  position: absolute
  transform-origin: left center
  transition: all 1.5s ease
  z-index: 3
  opacity: 0.25

  &--active
    z-index: 5
    opacity: 1
    .pages
      padding-left: 34%
      &__number
        transition: $transition
        color: $black
        &:before
          left: -39.5%

  &--wrapper
    width: 100%
    height: 100vh
    position: relative
    display: flex

@media screen and (max-width: 1336px)
  .section--active .pages
    padding-left: 34%

  @media screen and (max-width: 1024px)
    .section--active .pages
      padding-left: 33.5%
