@import "./src/sass/helpers/var"

.services
  display: flex
  flex-direction: column
  justify-content: center
  align-items: flex-start
  width: 100%
  padding: 2.5% 0

  &__title
    font-size: 3.5rem
    padding: 0 2.5rem
    width: 45%

  &__description
    width: 100%
    padding: 1.5rem 2.5rem 0
    text-align: left
    font-size: 1.25rem

  &__caption
    width: 100%
    color: $darkgray
    font-size: 1.5rem