@import "./src/sass/helpers/var"

.services-content
    display: flex
    width: 100%
    background-color: $white
    z-index: 2
    font-size: 1.25vw

    &__legend
        display: flex
        color: $black
        line-height: 2.5rem
        text-align: justify

    &--wrapper
        display: flex
        flex-direction: column
        width: 92.5%
        padding: 5% 0

.services-article
    display: flex
    flex-direction: column
    justify-content: space-between
    margin: 2.5% 0

    &__title
        font-size: 2.5vw

    &__description
        text-align: justify
        line-height: 2.5rem
        margin: 1% 0
        color: $black
    &__btn
        width: 25%
        margin-top: 1%
        background-color: yellow
        padding: 1rem
        border: 1px solid $gray
        font-size: 1.25vw

.list-description
    display: flex
    flex-direction: column
    width: 100%

    &__item
        display: flex
        width: 100%
        text-align: justify
        margin: 1% 0
