@import "./src/sass/helpers/var"

.social-menu
  display: flex
  justify-content: space-between
  align-items: center
  width: 15%
  margin: 0 2.5% 0 auto
  &--aside
    flex-direction: column
    width: 5%
    height: 20vh
    margin: 5% auto 0 0
    position: sticky

  &__item
    width: 100%
    align-items: center
    justify-content: center
    display: flex

  &__link
    display: flex
    align-items: center
    justify-content: center
    width: 2.5vw
    height: 3.5vw

    svg
      fill: rgba($purple, 0.75)
      transition: $transition

    &:hover
      svg
        fill: rgba($purple, 1)
        transform: scale(1.05)

@media screen and (max-width: 1600px)
  .social-menu
    width: 20%

@media screen and (max-width: 1024px)
  .social-menu
    width: 25%

@media screen and (max-width: 768px)
  .social-menu
    width: 35%
    margin: 0 auto
    &__link
      width: 5vw
      height: 5vw

@media screen and (max-width: 480px)
  .social-menu
    order: 2
    width: 60%
    margin: 5% auto
    &__link
      width: 10vw
      height: 10vw
