@import "./src/sass/helpers/var"

.tabs
  width: 100%
  padding-top: 10vh

.tabs-triggers
  display: flex
  width: 100%
  margin: 0 auto
  padding: 2vh 17.5%
  border-bottom: 1px solid rgba($purple, 0.5)
  align-items: center

  &--wrapper
    display: flex
    width: 100%
    align-items: center

  &__item
    display: flex
    justify-content: center
    align-items: center
    font-size: 1vw
    padding: 1rem 0.5rem
    text-align: center
    color: black
    letter-spacing: 0
    flex-grow: 1

    &--active
      background-color: #fbd46d

    &:hover,
    &:focus,
    &:active
      background-color: rebeccapurple
      color: $white
      cursor: pointer

.tabs-content
  display: flex
  width: 100%
  flex-direction: column

  &__item
    display: flex
    padding: 2.5% 0
    width: 100%

@media screen and (max-width: 1600px)
  .tabs-triggers
    padding: 2vh 10%
@media screen and (max-width: 1366px)
  .tabs-triggers
    &__item
      font-size: 1.25vw

@media screen and (max-width: 1224px)
  .tabs-triggers
    &__item
      font-size: 1.4vw

@media screen and (max-width: 1024px)
  .tabs-triggers
    padding: 2vh 7.5%
    &__item
      font-size: 1.75vw

@media screen and (max-width: 768px)
  .tabs-triggers
    flex-direction: column
    padding: 0 7.5%
    border-bottom: none

    &--extend
      padding: 0 7.5% 2vh
      border-bottom: 1px solid rgba($purple, 0.5)

    &--wrapper
      display: none
      flex-direction: column
    &__item
      font-weight: 300
      width: 50%
      font-size: 2.5vw

  .tabs-content
    &__item
      padding: 0
@media screen and (max-width: 480px)
  .tabs-triggers
    &__item
      font-size: 5vw
